window {
margin: 0px;
border: 1px solid #25ADFA;
#background-color: #282a36;
background-color: rgba(40,42,54,0.9);
border-radius: 10px;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
#background-color: #44475a;
background-color: rgba(78, 86, 97, 1);
}

#inner-box {
margin: 5px;
border: none;
#background-color: #282a36;
background-color: rgba(0, 0, 0, 0.1);
transition: opacity 2s linear;
}

#outer-box {
margin: 5px;
border: none;
#background-color: #282a36;
background-color: rgba(0, 0, 0, 0.1);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #f8f8f2;
} 

#entry.activatable #text {
color: #282a36;
#color: rgba(255,0,0,1);
}

#entry > * {
color: #f8f8f2;
}

#entry:selected {
#background-color: #44475a;
background-color: rgba(57,62,70,1);
}

#entry:selected #text {
font-weight: bold;
}
